/*--------------------General---------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #eee;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --color: #5c9ef5;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 15px;
  line-height: 25px;
  color: #777;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #777;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

form {
  max-width: 100%;
  margin: 30px 0;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  outline: none;
  border: 2px solid var(--color);
  box-shadow: none;
  border-radius: 5px;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--color);
}

/*--------------------General Class---------------------*/

.container {
  width: 80%;
  margin: auto;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 15px 0;
  border-radius: 50%;
  background-color: var(--color);
}

.line {
  line-height: 8 px;
}

.line-1,
.line-2,
.line-3 {
  display: inline-block;
  background-color: var(--color);
}

.line-1 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.line-2 {
  width: 80px;
  height: 1px;
}

.line-3 {
  width: 60px;
  height: 1px;
}

.btn {
  padding: 15px 35px;
  outline: none;
  border: 2px solid var(--color);
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background 1s;
}

.btn:hover {
  background-color: var(--color);
}

/*--------------------Header----------------------------*/

#header {
  height: 80vh;
  background: url("images/company.jpg") center right/contain no-repeat;
}

.header-content {
  max-width: 400px;
  margin-top: 150px;
}

.read-more {
  margin: 20px 0 30px 0;
}

#side-nav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background-color: var(--color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

#side-nav ul li {
  margin: 30px;
}

#side-nav ul a {
  color: #fff;
}

#side-nav ul li:first-child {
  margin-top: 50px;
}

#menu-btn {
  background-color: var(--color);
  width: 50px;
  position: fixed;
  right: 40px;
  top: 35px;
  border-radius: 5px;
  z-index: 1;
  cursor: pointer;
}
/*--------------------About Us--------------------------*/

#about-us,
#offer {
  padding: 70px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.about-left,
.about-right {
  flex-basis: 50%;
}

.about-left img {
  border-radius: 5px;
}

.about-content {
  max-width: 400px;
  display: inline-block;
}

.about-content h2 {
  font-size: 18px;
  margin: 50px 0 10px;
  font-style: italic;
}

.about-content h3 {
  font-size: 20px;
  font-style: italic;
  color: #757575;
}

#offer .btn {
  margin: 30px 0;
}

/*--------------------Features---------------------------*/

#features {
  padding: 70px 0;
}

.features-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.features-col {
  flex-basis: 25%;
  text-align: center;
}

.features-col img {
  width: 100px;
}

.features-col img {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.features-col p {
  text-align: center;
}

.features-btn {
  margin: 80px auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.features-btn .line {
  text-align: right;
  margin-right: 25px;
}

/*--------------------Courses, Contact---------------------------*/

#courses,
#contact {
  padding: 70px 0;
}

.courses-row,
.contact-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.courses-left,
.courses-right,
.contact-left,
.contact-right {
  flex-basis: 50%;
}

.contact-right img {
  width: 85%;
  border-radius: 5px;
}

.courses-right img {
  border-radius: 5px;
}

.courses-content {
  max-width: 400px;
}

.courses-content .btn {
  margin: 30px 0;
}

/*--------------------Contact / Same as Course----------*/

.btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-box .btn {
  flex-basis: 48%;
}

/*--------------------Footer---------------------------*/

#footer {
  margin: 30px 0;
}

.footer-row,
.footer-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.footer-left {
  flex-basis: 30%;
}

.footer-right {
  flex-basis: 70%;
  margin-top: 50px;
}

.link-col h4 {
  margin-bottom: 15px;
  color: var(--color);
}

.copyright small,
.link-col small {
  display: block;
  font-size: 14px;
  color: #777;
  line-height: 1.8;
}

.copyright img {
  display: block;
  width: 200px;
  margin: 40px 0;
}

/*--------------------Social Icons-----------------------*/

.social-icon {
  position: fixed;
  top: 35%;
  left: 0;
  z-index: 1;
}

.social-icon a {
  display: block;
  margin: 0 0 15px 20px;
  cursor: pointer;
  font-size: 25px;
}

.social-icon a:hover {
  transform: scale(1.8);
}

.logo {
  height: 70px;
}

/*--------------------Responsive------------------------*/

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 22px;
  }

  .btn {
    padding: 10px 16px;
  }

  .container {
    margin: 0 45px;
  }

  /*--------------------Header---------------------------*/

  #header {
    height: 75vh;
    background: none;
  }

  .logo {
    width: 175px;
    margin-top: 25px;
  }

  #side-nav {
    max-width: 200px;
  }

  #menu-btn {
    width: 40px;
    right: 20px;
  }

  .about-left,
  .about-right {
    flex-basis: 100%;
  }

  .about-content {
    margin: 50px 20 0;
  }

  .features-col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .courses-left,
  .courses-right,
  .contact-left,
  .contact-right,
  .footer-left,
  .footer-right {
    flex-basis: 100%;
  }

  .courses-left,
  .courses-right {
    margin-top: 75px;
  }

  #courses img {
    display: none;
  }

  .link-col {
    flex-basis: 50%;
    margin-bottom: 30px;
  }

  /*--------------------General---------------------------*/
  /*--------------------General---------------------------*/
}
